[submodule "external/commonItems"]
	path = external/commonItems
	url = https://github.com/ParadoxGameConverters/commonItems.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/bitmap"]
	path = external/bitmap
	url = https://github.com/ParadoxGameConverters/bitmap.git
[submodule "external/Fronter"]
	path = external/Fronter
	url = https://github.com/ParadoxGameConverters/Fronter
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb
