[submodule "external/commonItems"]
	path = external/commonItems
	url = https://github.com/ParadoxGameConverters/commonItems.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "external/Fronter.NET"]
	path = external/Fronter.NET
	url = https://github.com/ParadoxGameConverters/Fronter.NET.git
[submodule "external/bitmap"]
	path = external/bitmap
	url = https://github.com/ParadoxGameConverters/bitmap.git
