name: "Find braces mismatches"
on: [push, pull_request]
jobs:
  find_braces_mismatches:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: "Download and run script"
        run: |
          cd data
          wget https://raw.githubusercontent.com/IhateTrains/braces-mismatch-finder/main/bracket_script.py &&
          echo "Script downloaded" &&
          python3 bracket_script.py