name: "Publish commit id"

on:
  push:
    branches: [main]

jobs:
  publish_id:
    if: github.repository_owner == 'ParadoxGameConverters'
    runs-on: ubuntu-latest
    steps:
    - name: work around permission issue
      run: git config --global --add safe.directory /github/workspace

    - name: Checkout
      uses: actions/checkout@v6

    - name: Publish commit id
      uses: ParadoxGameConverters/publish_commit_id@main
      env:
        API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
      with:
        destination_file: 'Vic3ToHoI4.txt'
        user_email: 'idhrendur@hotmail.com'
        user_name: 'idhrendur'
        destination_branch: 'main'
        commit_message: "Publish Vic3ToHoI4's commit id"

    - name: Cleanup
      uses: colpal/actions-clean@v1
      if: always()
