name: Build, test and publish
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build_test_and_publish:
    name: Build, test and publish local
    if: github.repository_owner == 'ParadoxGameConverters'
    runs-on: [self-hosted, windows]

    steps:
    - name: work around permission issue
      run: git config --global --add safe.directory /github/workspace

    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive

    - name: "Build solution"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Community\MSBuild\Current\Bin\"
       dotnet restore
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\Vic3ToHoi4.sln

    - name: "Run tests"
      run: |
       cd $Env:GITHUB_WORKSPACE\build\test\Release
       .\Vic3ToHoI4Tests.exe

    - name: "Build updater executable"
      run: |
       cd external/Fronter/Updater
       pip3 install -r requirements.txt
       pyinstaller --onefile --icon=updater.ico updater.py
       mkdir ../../../build/Release/Updater
       mv dist/updater.exe ../../../build/Release/Updater/updater.exe

    - name: "Prepare release"
      if: ${{ github.event_name == 'push' }}
      run: |
       cd "C:\Program Files\7-Zip\"
       .\7z.exe a $Env:GITHUB_WORKSPACE\Vic3ToHoI4-0.0Null-win-x64.zip $Env:GITHUB_WORKSPACE\build\Release\*
       .\7z.exe a $Env:GITHUB_WORKSPACE\Vic3ToHoI4-latest-win-x64.zip $Env:GITHUB_WORKSPACE\build\Release\*

    - name: "Upload binaries to named release"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: 0.0Null
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: Vic3ToHoI4-0.0Null-win-x64.zip
        token: ${{ secrets.API_TOKEN_GITHUB }}

    - name: "Upload binaries to latest release"
      if: ${{ github.event_name == 'push' }}
      uses: ncipollo/release-action@v1
      with:
        tag: latest
        allowUpdates: true
        omitBodyDuringUpdate: true
        omitNameDuringUpdate: true
        artifacts: Vic3ToHoI4-latest-win-x64.zip
        token: ${{ secrets.API_TOKEN_GITHUB }}

    - name: "Cleanup"
      if: ${{ true }}
      run: |
        Get-ChildItem -Path $Env:GITHUB_WORKSPACE -Recurse -Force | Remove-Item -force -recurse

  build_test:
    name: Build and test foreign
    if: github.repository_owner != 'ParadoxGameConverters'
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        submodules: recursive

    - name: "Build solution"
      run: |
       cd "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\"
       .\MSBuild.exe -m -p:Configuration=Release $Env:GITHUB_WORKSPACE\Vic3ToHoI4.sln

    - name: "Run tests"
      run: |
       cd $Env:GITHUB_WORKSPACE\build\test\Release
       .\Vic3ToHoI4Tests.exe
